<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
    <appSettings>        
        <add key="apiURL" value="https://od-api.oxforddictionaries.com:443/api/v2/entries/" />
        <add key="apikey" value="33948ce31e2b563a3f8c4d01f2671687" />
        <add key="apiAppID" value="6cc0ca99" />
        <add key="apiLanguage" value="en-gb" />
     </appSettings>
</configuration>